.idea/

muffin_v_chihuahua/data/muffin/*
!muffin_v_chihuahua/data/muffin/.gitkeep
muffin_v_chihuahua/data/chihuahua/*
!muffin_v_chihuahua/data/chihuahua/.gitkeep
muffin_v_chihuahua/inception_v3_weights_tf_dim_ordering_tf_kernels.h5

simple-zip-packaging/*
!simple-zip-packaging/Makefile